.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 70px;
  padding-right: 80px;
  padding-top: 4px;
  border-bottom: 2px solid black; /* ← Bottom black line */
  font-family: 'Helvetica Neue', sans-serif;
}

.logo-text {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.stickers-text {
  font-style: italic;
  font-size: 1rem;
  color: black;
}

.logo-image {
  height: 80px;
}

.dropdown {
  background-color: black;
  color: white;
  height: 30px;
  font-size: 12pt;
  width: 100px;
  border-radius: 5px;
  padding-left: 2px;
}